/* app css stylesheet */

.marvel-header {
    background-color: #F0131E;
}

.header-logo {
    max-height: 37px;
}

a .card h3 {
    text-decoration: none;
}

.img-blur {
    position: relative;
    display: inline-block;
}

.img-blur:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 10px 10px #ffffff;
}